body
{

background:lightgray;

}



h1
{
 text-align: center;
 color:white;
 background:lightpink;
 padding:40px;

}





.container-fluid
{
    margin-top: 5px;
    padding:5px;
}